img {
	max-width:100%;
}

#Zelda {
	display: none;
}

#Muppets {
	display: none;
}

#Daytona {
	display: none;
}

#KungFuPanda {
	display: none;
}

#SegaRally {
	display: none;
}

header {
	align-items: center;
	justify-content: center;
}

header img {
	padding: 160px 20px;
	width: 680px;
	box-sizing: border-box;
}