/* styles.css */

:root {
  --primary-color: #2C2C2C;
  --navbar-background: #333333;
  --navbar-text-color: #F4F6F5;
  --button-background: #5C5470;
  --button-text-color: #F4F6F5;
  --content-background: #3D3C3F;
  --content-text-color: #F4F6F5;
}

body {
  background-color: var(--primary-color);
  color: var(--navbar-text-color);
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: var(--navbar-background);
  color: var(--navbar-text-color);
  justify-content: center;
}

.navbar-start {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navbar-item {
  margin: 0 0.5rem;
  color: var(--navbar-text-color);
}

.navbar-item:hover {
  background-color: var(--navbar-background);
  color: var(--navbar-text-color);
}

.container {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 3.25rem);
}

.content {
  background-color: var(--content-background);
  color: var(--content-text-color);
  padding: 2rem;
}

.button {
  background-color: var(--button-background);
  color: var(--button-text-color);
}

.button:hover {
  background-color: var(--navbar-background);
  color: var(--navbar-text-color);
}

/* Redemptions Page Styles */

.section-redemptions {
  background-color: #7e6786;
  padding: 2rem;
  color: #f4f6f5;
}

.title-redemptions {
  color: #f4f6f5;
}

.buttons-redemptions {
  margin-bottom: 1rem;
}

.content-section-redemptions {
  margin-top: 1.5rem;
}
