body {
  background-color: #1F2A3A;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

}

.floating-container {
  position: sticky;
  top: 10px;
  background-color: #1F2A3A;
  z-index: 1000;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


body::-webkit-scrollbar {
  display: none;
}

.container {
  color: #E9ECEF;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

#video-player-container {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

#video-player {
  width: 800px;
  height: 450px;
}

.button-container {
  width: auto;
  margin: 20px auto;
  text-align: center;
}

.selected {
  background-color: rgba(200, 200, 200, 0.5); /* Change the color to your desired lighter version */
}

.selected-correct-answer {
  background-color: rgba(49, 143, 49, 0.5); /* Change the color to your desired variant */
}

#button-grid {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 10px;
  margin: 20px auto;
  width: 90%;
}

button {
  background-color: #2E4057;
  border: none;
  border-radius: 5px;
  color: #E9ECEF;
  cursor: pointer;
  font-size: 16px;
  height: 50px;
  transition: background-color 0.2s;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: #405A78;
}

#answer-input {
  margin: 20px auto;
  padding: 10px;
  width: 100%;
  max-width: 400px;
  font-size: 18px;
}

#answer-feedback, #hint {
  color: #AAB4BE;
  margin-top: 20px;
  padding: 10px;
  font-size: 1.2em;
  border: 1px solid #3E92CC;
  border-radius: 5px;
  text-align: center;
  overflow-wrap: break-word; /* Add this line to wrap the text */
  width: 100%; /* Add this line to set the width to 100% */
  box-sizing: border-box; /* Add this line to include padding and border in the total width */
}

#video-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

#video-player {
  pointer-events: none;
}
