.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.question-container label {
  margin-right: 10px;
}

.select-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
}

.video-container {
  margin: 20px 0;
}

.controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hint-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.hint-container button {
  margin-bottom: 10px;
}

form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

label {
  margin-right: 10px;
}
