body {
  background-color: #1F2A3A;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  color: #E9ECEF;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

#video-player-container {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

#video-player {
  width: 800px;
  height: 450px;
}

.button-container {
  width: auto;
  margin: 20px auto;
  text-align: center;
}

#button-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 10px;
  margin: 20px auto;
  width: 100%;
}

button {
  background-color: #2E4057;
  border: none;
  border-radius: 5px;
  color: #E9ECEF;
  cursor: pointer;
  font-size: 16px;
  height: 50px;
  transition: background-color 0.2s;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: #405A78;
}

#answer-input {
  margin: 20px auto;
  padding: 10px;
  width: 100%;
  max-width: 400px;
  font-size: 18px;
}

#answer-feedback, #hint {
  color: #AAB4BE;
  margin-top: 20px;
  padding: 10px;
  font-size: 1.2em;
  border: 1px solid #3E92CC;
  border-radius: 5px;
  text-align: center;
  height: 1.5em;
}

#video-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

#video-player {
  pointer-events: none;
}
