@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@300&display=swap');

body{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration: none;
	overflow: hidden;
	background: linear-gradient(to right, #83bff4 0%, #83bff4 0%, #afd4f5 0%, #7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#HDR{
	position: fixed;
	width: 99%;
	padding-left: 0.125%;
	z-index: 0;
}

#MP_BTNS{
	display: flex;
	align-items: center;
	justify-content: left;
	padding-bottom:4px;
}

#MP_PP{
	padding-right: 4px;
}

#MP_STP{
	padding-right: 4px;
}

#MP_MSI{
	padding-left: 8px;
	color: #1e88e5;
	font-family: 'Oswald', sans-serif;
	font-size: 10pt;
}

#MP_ANS{
	margin-left: auto;
	color: #1e88e5;
	font-family: 'Oswald', sans-serif;
	font-size: 10pt;
}

#MP_ANS label{
	padding-right: 8px;
}

#MP_ANSR{
	height: 32px;
	width: 480px;
	padding-left: 16px;
	padding-right: 16px;
	background-color: #1e88e5;
	color: white;
	border: 0px solid #1e88e5;
	font-family: 'Oswald', sans-serif;
	font-size: 10pt;
	text-align: center;
}

#MP_ANSR:focus, input:focus{
    outline-style: solid;
	outline-color: #e1771a;
	outline-width: 2px;
}

#MP_EML{
	display:none;
	height: 0px;
	width: 0px;
	opacity: 0;
	pointer-events: none;
}

#MP_EML:focus, input:focus{
    outline: none;
}

#HB{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 32px;
	background-color: black;
	color: white;
	font-family: 'Roboto Serif', sans-serif;
	font-size: 10pt;
	margin-bottom: 8px;
	z-index: 0;
}

#GA{
	position: absolute;
	text-align: center;
	overflow:auto;
	top: 0px;
	height: 0px;
	z-index: 0;
}

#BTN_C{
	display: inline-block;
	overflow: hidden;
}

#BTN_C .BTN_I{
	line-height: 18pt;
	display: inline-block;
	min-width:360px;
	padding:8px;
	border-radius:24px;
	margin: 4px 4px;
	-moz-border-radius: 24px;
	border:2px solid black;
	box-sizing: border-box;
	text-align: center;
	vertical-align: middle;
	color: white;
	background-color: #1e88e5;
	font-size: 18pt;
	font-family: 'Oswald', sans-serif;
}

#OVERLAY{
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.75);
	backdrop-filter: blur(8px);
	z-index: 1000;
	cursor: pointer;
}

#HVR_ALT{
	position: absolute;
	display: flex;
    align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	flex-direction: column;
	z-index: 1001;
}

#HVR_BOX{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	width: 50%;
	height: 50%;
	background-color: #afd4f5;
	border-style: solid;
	border-width: 4px;
	border-radius: 64px;
	border-color: black;
	box-shadow: 16px 16px 32px black;
}

#HVR_ALT_HDR{
	width: 96%;
	padding-bottom: 8px;
	font-size: 18pt;
	font-family: 'Oswald', sans-serif;
}

#HVR_ALT_TXT{
	width: 96%;
	padding-bottom: 8px;
	font-size: 14pt;
	font-family: 'Roboto Serif', sans-serif;
}

#HVR_ALT_BTN{
	display: block;
	width: 20%;
	font-family: 'Oswald', sans-serif;
	font-size: 12pt;
	line-height: 24pt;
	background-color: #1ee57b;
	color: black;
	cursor: grab;
	border-style: solid;
	border-width: 2px;
	border-radius: 32px;
	border-color: black;
}